<%- include("../../partials/header") -%>
<body class="algo">
  <div class="ui main container segment">
    <div class="ui huge header">
      <%= blog.title%>
     </div>
     <div class="ui top attached">
         <div class="item" style="margin-bottom:20px;">
             <img class="ui centered rounded image" src="<%= blog.image %>" alt="">

         <div class="content" style="margin-bottom:20px;">
           <span><%= blog.created.toDateString() %></span>
         </div>
         <div class="description">
           <p><%= blog.body %></p>
         </div>
         <a class="btn btn-primary" href="/categories/technical/algorithms/<%= blog._id%>/edit">Edit</a>
         <form style="display:inline-block;" id="delete" action="/categories/technical/algorithms/<%= blog._id%>?_method=DELETE" method="post">
           <button class="btn btn-danger" type="submit" name="button">DELETE</button>
         </form>
         </div>
     </div>
     <p><a class="btn btn-success" href="/categories/technical/algorithms/<%= blog._id %>/comments/new">Add New Comment</a></p>
     <% blog.comment.forEach(function(comment){%>
       <div class="com">
         <strong><%= comment.author.username %></strong>
         <%= comment.text %>
       </div>
    <% }) %>
  </div>


</body>

<%- include("../../partials/footer") -%>
