<%- include("../../partials/header") -%>
<body class="science">
  <div class="ui main container segment">
    <div class="ui huge header">
      <%= blog.title%>
     </div>
     <div class="ui top attached" style="margin-bottom:20px;">
         <div class="item">
             <img class="ui centered rounded image" src="<%= blog.image %>" alt="">

         <div class="content" style="margin-top:20px;">
           <span><%= blog.created.toDateString() %></span>
         </div>
         <div class="description">
           <p><%= blog.body %></p>
         </div>
         <a class="btn btn-info" href="/categories/other/science/<%= blog._id%>/edit">Edit</a>
         <form style="display:inline-block; margin-top:20px;" id="delete" action="/categories/other/science/<%= blog._id%>?_method=DELETE" method="post">
           <button class="btn btn-danger" type="submit" name="button">DELETE</button>
         </form>
         </div>
     </div>
     <p><a class="btn btn-success" href="/categories/other/science/<%= blog._id %>/comments/new">Add New Comment</a></p>
     <% blog.comment.forEach(function(comment){%>
       <div class="">
         <strong><%= comment.author.username %></strong> :  <%= comment.text %>
       </div>
    <% }); %>
  </div>
</body>

<%- include("../../partials/footer") -%>
